.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.header {
  font-size: 36px;
  font-weight: 600;
  line-height: 140%;
}

.main {
  display: flex;
  padding-top: 5vh;
}

.summary {
  flex-direction: column;
  width: 30vw;
}

.totalCost,
.orders,
.restaurants {
  padding-bottom: 5vh;
}

.totalCost h2,
.orders h2,
.restaurants h2 {
  color: var(--Red, #e60012);
  font-size: 120%;
}

.totalCost p,
.orders p,
.restaurants p {
  font-size: 180%;
  font-weight: 600;
}

.paymentSection {
  width: 70vw;
}

.paymentTable {
  height: 100%;
  min-width: 70vw;
  border-radius: 5px;
  border: 1px solid rgba(230, 0, 18, 0.15);
}

.paymentTable thead {
  background: #fee;
}

.paymentTable th,
.paymentTable td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.viewButton {
  width: 64px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #e60012;
  background: #fff;
  color: var(--Red, #e60012);
  font-size: 12px;
  font-weight: 600;
}

.viewButton:hover {
  background-color: #e6392f;
  color: white;
}
